@using Humanizer
<span class="no-wrap">
    @Prefix
    @Model.Amount.ToMetric(MetricNumeralFormats.WithSpace, Decimals)
    @Suffix
</span>

@code
{

    [Parameter]
    [EditorRequired]
    public required GameCurrency Model { get; set; }

    [Parameter]
    public string Prefix { get; set; } = GameCurrency.Symbol;

    [Parameter]
    public string Suffix { get; set; } = string.Empty;

    [Parameter]
    public int Decimals { get; set; } = 3;

}
