@using Humanizer
<span style="white-space: nowrap">
    @GameCurrency.Symbol @Model.Amount.ToMetric(MetricNumeralFormats.WithSpace, 3)
</span>

@code
{

    [Parameter]
    [EditorRequired]
    public required GameCurrency Model { get; set; }

}
