@page "/trade"
@page "/trade/{page}"
@using Arkanis.Overlay.Common
@layout OverlayLayout
@inject NavigationManager NavigationManager

<PageTitle>@ApplicationConstants.ApplicationName — Trade</PageTitle>

<div>
    <TradeView
        @rendermode="@(new InteractiveServerRenderMode(false))"
        @bind-ActiveTab:get="@TargetTab"
        @bind-ActiveTab:set="@UpdateTab"/>
</div>

@code
{

    private TradeView.Tab TargetTab { get; set; } = TradeView.Tab.Default;

    [Parameter]
    public string? Page { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if (Page is not null)
        {
            TargetTab = Enum.TryParse<TradeView.Tab>(Page, true, out var tab)
                ? tab
                : TradeView.Tab.Default;
        }
    }

    private void UpdateTab(TradeView.Tab activeTab)
    {
        TargetTab = activeTab;
        NavigationManager.NavigateTo($"/trade/{activeTab:G}");
    }

}
