{
    "branches": [
        "main",
        {
            "name": "nightly",
            "channel": "nightly",
            "prerelease": "nightly"
        },
        {
            "name": "rc",
            "channel": "rc",
            "prerelease": "rc"
        }
    ],
    "repositoryUrl": "https://github.com/ArkanisCorporation/ArkanisOverlay",
    "tagFormat": "v${version}",
    "debug": false,
    "plugins": [
        "@semantic-release/commit-analyzer",
        [
            "@semantic-release/exec",
            {
                "verifyReleaseCmd": "dotnet setversion \"${nextRelease.version}\" \"./src/Arkanis.Overlay.Application/Arkanis.Overlay.Application.csproj\"",
                "prepareCmd": "sh -c 'cp CHANGELOG.md publish/ ; cd publish ; zip -r ../ArkanisOverlay.zip .'"
            }
        ],
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/changelog",
            {
                "changelogFile": "CHANGELOG.md"
            }
        ],
        [
            "@semantic-release/github",
            {
                "assets": [
                    { "path": "ArkanisOverlay.zip" },
                    { "path": "CHANGELOG.md" }

                ]
            }
        ]
    ]
}
