@page "/"
@page "/overlay"
@layout OverlayLayout
@using ArkanisOverlay.Windows

<style>
    body {
        background-color: transparent;
    }

    #clickAwayBackground {
        position: absolute;
        /*top: 0;*/
        /*left: 0;*/
        width: 100%;
        height: 100%;
        background-color: #FF000030;
        z-index: -1;
    }

    #searchContainer {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: fit-content;
    }
</style>

<div id="clickAwayBackground"
     onmousedown="if (event.target == this) DotNet.invokeMethodAsync('ArkanisOverlay', 'ClickAwayHide')">

</div>

@* <MudContainer> *@
@*     <MudGrid> *@
<MudPaper id="searchContainer" Class="d-flex justify-center align-center flex-grow-1" Elevation="0"
          Style="position: relative">
    <MudTextField @bind-Value="SearchText" Label="Search" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Secondary"></MudTextField>
</MudPaper>
@*     </MudGrid> *@
@* </MudContainer> *@


@code {
    public string SearchText { get; set; }
    
    [JSInvokable("ClickAwayHide")]
    public static void ClickAwayHide() => OverlayWindow.Instance?.Collapse();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Console.WriteLine("Overlay initialized");
    }

}