@page "/"
@page "/overlay"
@layout OverlayLayout
@using ArkanisOverlay.Windows

<script>
    window.onkeydown = ev => {
        console.debug("KeyDown", ev);
        if (ev.key === "Escape") {
            DotNet.invokeMethodAsync("ArkanisOverlay", "ClickAwayHide");
        }
    };
</script>

<!--suppress CssUnusedSymbol -->
<style>
    body {
        background-color: transparent;
    }

    #clickAwayBackground {
        position: absolute;
        /*top: 0;*/
        /*left: 0;*/
        width: 100%;
        height: 100%;
        /*background-color: #FF000030;*/
    }

    #searchContainer {
        position: relative;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -30%);
        width: fit-content;
        z-index: 1;

        .mud-input-control {
            margin: 0;
            width: 60vw;
        }

        .mud-input,
        .mud-input-control > .mud-input-control-input-container > .mud-input-label-inputcontrol {
            font-size: 2vh; /* 1 rem is default */
        }

        .mud-icon-size-medium {
            font-size: 2.5vh;
        }
    }
</style>

<div id="clickAwayBackground"
     onmousedown="if (event.target == this) DotNet.invokeMethodAsync('ArkanisOverlay', 'ClickAwayHide')">
</div>

<MudPaper id="searchContainer" Class="d-flex justify-center align-center flex-grow-1" Elevation="0">
    <MudFocusTrap DefaultFocus="DefaultFocus.FirstChild">
        <MudTextField id="searchBox" @ref="SearchBox" T="string" @bind-Value="SearchText" Variant="Variant.Outlined"
                      Adornment="Adornment.End"
                      AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Secondary"
                      HelperText=":c Commodities, :s Ships, :v Vehicles, :i Items, :l Locations">
        </MudTextField>
    </MudFocusTrap>
</MudPaper>

@code {
    public static MudTextField<string> SearchBox { get; set; } = null!;
    public string SearchText { get; set; } = "";

    [JSInvokable("ClickAwayHide")]
    public static void ClickAwayHide() => OverlayWindow.Instance?.Collapse();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Console.WriteLine("Overlay initialized");
    }

}