<MudGrid>
    <MudItem xs="12" md="6">
        <div style="height: 33vh; overflow: auto">
            <MudTimeline TimelinePosition="@TimelinePosition.Left"
                         Style="min-height: 100%">
                @foreach (var playerEvent in Events.OrderBy(x => x.OccuredAt))
                {
                    <TradeRunPlayerEventTimelineItem
                        Model="@playerEvent"/>
                }
            </MudTimeline>
        </div>
    </MudItem>
    <MudItem xs="12" md="6">
        @ChildContent
    </MudItem>
</MudGrid>

@code
{

    [Parameter]
    [EditorRequired]
    public required IEnumerable<TradeRun.PlayerEvent> Events { get; set; }

    [Parameter]
    [EditorRequired]
    public required RenderFragment ChildContent { get; set; }

}
