@using ArkanisOverlay.Data.UEX.DTO

<MudPaper Style="width: 100%" Class="search-result px-4 py-2 focus" tabindex="0">
    <MudStack Row="true" Style="width: 100%"
              Class="justify-center align-center align-content-center">
        <MudIcon Icon="@VehicleIcon"></MudIcon>
        <MudDivider Vertical="true" FlexItem="true"></MudDivider>
        <h1 class="flex-1">@Vehicle.NameFull</h1>
        <MudStack>
            <p style="color: lightskyblue">Buy: TBD UEC</p>
            <p style="color: sandybrown">Sell: TBD UEC</p>
        </MudStack>
        <MudDivider Vertical="true" FlexItem="true"></MudDivider>
        <MudIconButton Icon="@MaterialSymbols.Outlined.AddShoppingCart" Class="focus"
                       tabindex="1">
        </MudIconButton>
        <MudDivider Vertical="true" FlexItem="true"></MudDivider>
        <MudIconButton Icon="@MaterialSymbols.Outlined.RemoveShoppingCart" Class="focus"
                       tabindex="1">
        </MudIconButton>
    </MudStack>
</MudPaper>

@code {
    [Parameter] public required VehicleDto Vehicle { get; set; }

    private string VehicleIcon { get; set; } = Icons.Material.Outlined.Rocket;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        VehicleIcon =
            Vehicle.IsSpaceship ? Icons.Material.Outlined.Rocket : Icons.Material.Outlined.AirportShuttle;
    }

}