@page "/search"
@layout ServerOverlayLayout

<PageTitle>@ApplicationConstants.ApplicationName — Search</PageTitle>

<div>
    <SearchView @rendermode="@(new InteractiveServerRenderMode(false))"/>
</div>

@code
{
}
