@page "/search"
@layout ServerOverlayLayout

<PageTitle>@ApplicationConstants.ApplicationName — Search</PageTitle>

<div style="height: calc(100vh - 48px); overflow-y: scroll">
    <SearchView @rendermode="@(new InteractiveServerRenderMode(true))"/>
</div>

@code
{
}
