@page "/settings"
@layout ServerOverlayLayout

<PageTitle>@ApplicationConstants.ApplicationName — Settings</PageTitle>

<div>
    <SettingsView @rendermode="@(new InteractiveServerRenderMode(false))"/>
</div>

@code
{
    [Parameter]
    public string? Page { get; set; }
}
